.assignment-wrapper{
    border: 1px dashed rgb(0, 0, 0);
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
}

.assignment-wrapper-title{
    width: min-content !important;
    margin-top:0em !important;
    margin-bottom: 1em !important;
    background-color: transparent !important;
    white-space: nowrap !important;

}

.comment-bubble {
    background: #f1f1f1;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0em;
}
.homepage{
    margin-top: 300px;
}

.homepage h1{
    display: flex;
    justify-content: center;
}

.homepage h4{
    display: flex;
    justify-content: center;
}

body{
    background-image: url('./Images/baege.jpg');
}

.buttonDiv{
    display: flex;
    justify-content: center;
}

.loginContainer{
    margin-top: 200px;
}